body {
    background-color: #1e2226;
    font-family: Ubuntu, sans-serif;
}

.navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
}

.dropdown-toggle::after {
    content: none;
}

.commit-stats {
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.code-viewer {
    background-color: white;
}

/* Dark mode theme for diff2html */

.dark-code-viewer {
  filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
  -webkit-filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
}

.dark-code-viewer img,
.dark-code-viewer video,
.dark-code-viewer * [style*="background-image"],
.dark-code-viewer embed[type="application/x-shockwave-flash"],
.dark-code-viewer object[type="application/x-shockwave-flash"] {
  filter: hue-rotate(180deg) contrast(100%) invert(100%);
  -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
}
